@layout AdminLayout
@page "/admin"
@page "/admin/dashboard"

<PageTitle>Index</PageTitle>
<div style="width:100%; height:80vh; padding:10px; display:flex; ">
    <div style=" width:100%; display:flex; justify-content:center;align-items:center;flex-direction:column">
        <img style="width:150px; height:150px; margin:20px" src="logogki.png" />
        <h4>GEREJA INJILI DI TANAH PAPUA</h4>
        <h4>KLASIS PORT NUMBAY</h4>
        <h4>JEMAAT EFRATA KAYU BATU</h4>
        <div style="display:flex;justify-content:center; align-items:center;flex-direction:column; margin:20px">
            <h3>APLIKASI KEUANGAN </h3>
        </div>
    </div>
</div>