<AuthorizeView>
    <Authorized>
        <MudLink Href="Identity/Account/Manage">Hello, @context.User.Identity?.Name!</MudLink>
        <form method="post" action="Identity/Account/Logout">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <MudLink Href="Identity/Account/Register">Register</MudLink>
        <MudLink Class="ml-2" Href="Identity/Account/Login">Log in</MudLink>
    </NotAuthorized>
</AuthorizeView>
